@model IEnumerable<Newspaper.Models.RouteReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Route.RouteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NepaliDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gp_Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rn_Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.muna_Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yuwa_Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.madhu_Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gp_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rn_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.muna_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yuwa_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.madhu_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gp_grandtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rn_grandtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.muna_grandtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yuwa_grandtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.madhu_grandtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Route.RouteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NepaliDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gp_Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rn_Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.muna_Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yuwa_Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.madhu_Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gp_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rn_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.muna_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yuwa_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.madhu_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gp_grandtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rn_grandtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.muna_grandtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yuwa_grandtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.madhu_grandtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
